ADMIN_USERNAME=
ADMIN_PASSWORD=
DATABASE_URL=
PORT=3000
HOST=0.0.0.0
# Comma separated list of allowed origins. Use '*' if you want to allow ALL URLs access for local testing.
ALLOWED_DEV_ORIGINS=192.168.0.102
NODE_ENV=dev